.statesman {
    position: relative;
    color: red;
    background-color: #DED8C0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > div {
        z-index: 1;
    }

    > ion-icon {
        position: absolute;
        top: calc(50% - 1rem);
        left: calc(50% - 0.5rem);
        transform: scale(12);
        opacity: 0.2;
    }

    > div:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }

    > div:nth-of-type(2) {
        display: flex;
        justify-content: space-between;

        > div:first-child {
            width: 40%;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        > div:last-child {
            display: flex;
            flex-direction: column;
            gap: 2px;
            min-width: 20%;
            max-width: 30%;

            > div {
                display: flex;
                justify-content: space-between;
            }

            h6:nth-child(2) {
                font-weight: bold;
            }
        }
    }

    > div:last-of-type {
        display: flex;
        justify-content: center;

        h6 {
            font-weight: bold;
        }

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2px;

            > div {
                width: fit-content;
                aspect-ratio: 1;
                padding: 0.83rem;
                border: 1px solid rgba(255, 0, 0, 0.3);
                text-align: center;
            }

            &:first-of-type {
                position: absolute;
                bottom: 5px;
                left: 5px;
            }

            &:last-of-type {
                position: absolute;
                bottom: 5px;
                right: 5px;
            }
        }

        > p {
            position: absolute;
            bottom: 5px;
            right: 25%;
        }
    }
}