:host {
    --title-font-size: 3rem;
    width: 100%;
}

h3 {
    text-align: center;
    font-size: var(--title-font-size);
    margin-bottom: 5px;
}

.horizontal-scroll {
    position: relative;
    width: 100%;

    > div {
        width: 100%;
        display: flex;
        gap: 10px;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0;
            height: 0;
        }
    }

    > ion-button {
        --padding-start: 0;
        --padding-end: 0;
        --ripple-color: rgba(0, 0, 0, 0.5);
        margin: 0;
        z-index: 10;

        > ion-icon {
            color: rgba(0, 0, 0, 0.2);
        }

        &.left-btn {
            position: absolute;
            top: calc(50% - 28px);
            left: 0;
        }

        &.right-btn {
            position: absolute;
            top: calc(50% - 28px);
            right: 0;
        }
    }
}