<h3 *ngIf="title">{{ title }}</h3>
<div class="horizontal-scroll">
  <ion-button
    *ngIf="isOverflowed(scrollArea) && !isAtScrollStart(scrollArea)"
    class="left-btn"
    fill="clear"
    shape="round"
    size="large"
    (click)="scrollX($event, scrollArea, 'left')"
  >
    <ion-icon
      slot="icon-only"
      name="chevron-back-outline"
    ></ion-icon>
  </ion-button>

  <div #scrollArea [ngClass]="{'ion-justify-content-center': !isOverflowed(scrollArea)}">
    <ng-content></ng-content>
  </div>

  <ion-button
    *ngIf="isOverflowed(scrollArea) && !isAtScrollEnd(scrollArea)"
    class="right-btn"
    fill="clear"
    shape="round"
    size="large"
    (click)="scrollX($event, scrollArea, 'right')"
  >
    <ion-icon
      slot="icon-only"
      name="chevron-forward-outline"
    ></ion-icon>
  </ion-button>
</div>