ion-content::part(scroll) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h3 {
    font-size: 4rem;
}

ion-segment {
    width: fit-content;
    display: flex;
    gap: min(3.57vw, 17px);

    ion-segment-button {
        --padding-start: 0;
        --padding-end: 0;
        min-width: auto;
    }
}

.game-data-line {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-around;

    > div {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 2.5rem;
        text-align: center;
    }
}

.bottom-line {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.category-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.player-selectors ion-segment-button {
    ion-label:last-child {
        display: none;
    }

    &:first-child {
        --color-checked: var(--ion-color-primary-shade);
    }

    &:nth-child(2) {
        --color-checked: var(--ion-color-success-shade);
    }

    &:nth-child(3) {
        --color-checked: var(--ion-color-warning-shade);
    }

    &:nth-child(4) {
        --color-checked: var(--ion-color-danger-shade);
    }

    &:last-child {
        --color-checked: var(--ion-color-secondary-shade);
    }
}

@media screen and (max-width: 550px) {
    .player-selectors ion-segment-button ion-label {
        &:first-child {
            display: none;
        }

        &:last-child {
            display: inline;
        }
    }
}

.selected-player {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    h2 {
        font-size: 5rem;
    }

    > div:first-of-type {
        max-width: 600px;
        width: 100%;
        display: flex;
        justify-content: space-around;

        p {
            font-size: 3rem;
        }

        > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;

            > div {
                width: fit-content;
                aspect-ratio: 1;
                padding: 0.83rem;
                text-align: center;
            }
        }
    }

    > div:last-child {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
}