<div
  class="enemy-leader card"
  [ngClass]="{
    'early-republic-card': isFromEarlyRepublic(enemyLeader),
    'middle-republic-card': isFromMiddleRepublic(enemyLeader),
    'late-republic-card': isFromLateRepublic(enemyLeader),
    'pointer': selectable || isSelected,
    'selected': isSelected,
    'red-text': enemyLeader.textColor === 'red'
  }"
  (click)="changeSelectionState(enemyLeader)"
>
  <div>
    <div>
      <h3>{{ enemyLeader.name| uppercase }}</h3>
      <h6>{{ enemyLeader.matchingWarsCommonName }}</h6>
    </div>
    <p>{{ enemyLeader.timePeriod }}</p>
    <p *ngFor="let text of enemyLeader.specialTexts">{{ text }}</p>
  </div>
  <ion-icon [src]="imageSrc"></ion-icon>
  <h6>+{{ enemyLeader.strength }}</h6>
  <div>
    <div>
      <div>
        <h6>D</h6>
      </div>
      <div>
        <h6>{{ enemyLeader.disaster }}</h6>
      </div>
    </div>
    <div>
      <div>
        <h6>S</h6>
      </div>
      <div>
        <h6>{{ enemyLeader.standoff }}</h6>
      </div>
    </div>
  </div>
  <p>{{ enemyLeader.id | number: '3.0-0' }}</p>
</div>