/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
    --background: #d9d9d9;

    &::part(scroll) {
        padding: 10px;
    }
}

.menu-content {
    &::part(scroll) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    > div:last-of-type {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        > ion-button::part(native) {
            width: 150px;
        }
    }
}

.early-republic-card {
    border: 15px solid white;
}

.middle-republic-card {
    border: 15px solid darkgray;
}

.late-republic-card {
    border: 15px solid darkred;
}